{% extends '::base.html.twig' %}

{% block title %} Diarios {% endblock %}

{% block hover %}<div id="hover"></div>{% endblock %}

{% block body %}

<div id="contentwrap">
    <div id="content">
        <form id="form" action="" class="form" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
            <h1>Buscar Lote</h1>
            <div class="content">
                <div class="intro"></div>
                <div id="section0" >
                    <div class="field"><label for="CodLote_b">Código Lote</label><input type="text" id="CodLote_b" name="CodLote_b" maxlength="6" required></div>
                    <div class="field"><input class="boton" type="submit" id="Listo" name="Listo" required value="Buscar"></div>
                </div>
            </div>
        </form>


        <div id="popup">
        <div id="close">X</div>
            {% if lote == "No" %}
                <h3>No existe el lote</h3>
            {% else %}
                <h3>Lote encontrado {{ lote }} Ingresado el {{ lote.getFechaIngreso() }}</h3>
            {% endif %}
        </div>
</div>
<script>
$(document).ready(function(){
  
  //chiusura al click sulla parte scura
  $("#hover").click(function(){
        $(this).fadeOut();
    $("#popup").fadeOut();
    });
  
  //chiusura al click sul pulsante
  $("#close").click(function(){
        $("#hover").fadeOut();
    $("#popup").fadeOut();
    });
  
});
</script>
{% endblock %}