{% extends '::base.html.twig' %}

{% block title %} Usuarios {% endblock %}

{% block stylesheets %}
        <link href="{{ asset('bundles/login/css/estilos.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
{#{% block javascripts %} <script type="text/javascript" src="js/login.js"></script> 
{% endblock %}#}

{% block navigation %}
<ul id="menu-bar">
    <li id="prestamo" class="not-active"><a href="#">Préstamo</a>
        <ul>
            <li><a href="nuevoPrestamo" onclick="changeClass('prestamo')">Nuevo prestamo</a></li>
            <li><a href="#" onclick="changeClass('prestamo')">Buscar prestamo</a></li>
        </ul>
    </li>
    <li id="usuarios" class="active"><a href="#">Usuarios</a>
        <ul>
            <li><a href="registroLector" onclick="changeClass('usuarios')">Registrar Lector</a></li>
            <li><a href="registroAdministrador" onclick="changeClass('usuarios')">Registrar administrador</a></li>
            <li><a href="#" onclick="changeClass('usuarios')">Buscar usuarios</a></li>
        </ul>
    </li>
    <li id="diarios" class="not-active"><a href="#">Diarios</a>
        <ul>
            <li><a href="registroLote" onclick="changeClass('diarios')">Registrar lote</a></li>
            <li><a href="#" onclick="changeClass('diarios')">Buscar lote</a></li>
        </ul>
    </li>
    <li id="estadistica" class="not-active"><a href="#">Estadísticas</a>
        <ul>
            <li><a href="#" onclick="changeClass('estadistica')">Por edad</a></li>
            <li><a href="#" onclick="changeClass('estadistica')">Por sexo</a></li>
            <li><a href="#" onclick="changeClass('estadistica')">Por fechas</a></li>
        </ul>
    </li>
    <li id="salir" class="not-active"><a href="logout" onclick="changeClass('salir')">Salir</a></li>
</ul>
{% endblock %}


{% block body %}
<div id="contentwrap">
    <div id="content">
       <form id="form" class="form" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
            <h1>Registrar Usuario</h1>
            <div class="content">
                <div class="intro"></div>
                <div id="section0" >
                    <div class="field"><label for="RUN">RUN</label><input type="text" id="RUN" name="RUN" maxlength="9" required></div>
                    <div class="field"><label for="Nombre">Nombre</label><input type="text" id="Nombre" name="Nombre" required></div>
                    <div class="field"><label for="Sexo">Sexo</label><select id="Sexo" name="Sexo" required><option value="1">Femenino</option><option value="2">Masculino</option><option value="3">Otro</option></select></div>
                    <div class="field"><label for="FechaNac">Fecha de Nacimiento</label><input type="date" id="FechaNac" name="FechaNac" required></div>
                    <div class="field"><label for="Direccion">Dirección</label><input type="text" id="Direccion" name="Direccion"></div>
                    <div class="field"><label for="Telefono">Telefono</label><input type="number" id="Telefono" name="Telefono" required></div>
                    <div class="field"><div class="edit-options"><div class="edit"></div><div class="delete"></div></div><label for="eMail">e-Mail</label><input type="email" id="eMail" name="eMail"></div><br>
                    <div class="field"><input class="boton" type="submit" id="Registrar" name="Registrar" required value="Registrar"></div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}