{% extends '::base.html.twig' %}

{% block title %} Usuarios {% endblock %}


{% block body %}
<div id="contentwrap">
    <div id="content">
       <form id="form" class="form" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
            <h1>Buscar Lector</h1>
            <div class="content">
                <div class="intro"></div>
                <div id="section0" >
                    <div class="field"><label for="RUN_b">RUN</label><input type="text" id="RUN_b" name="RUN_b" maxlength="12" class="required rut" required></div>
                    <div class="field"><input class="boton" type="submit" id="Buscar" name="Buscar" required value="Buscar"></div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}