{% extends '::base.html.twig' %}

{% block title %} Usuarios {% endblock %}


{% block body %}

<form id="form" class="form-horizontal" role="form" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
    <h2>Registrar Lector</h2>
    <div class="form-group">
        <label class="col-sm-1" for="RUN">RUN Lector</label>
        <div class="col-sm-5"><input type="text" id="RUN" name="RUN" maxlength="12" class="form-control required rut" required></div>        
        <span class="help-block">*</span>
    </div>

    <div class="form-group">
        <label class="col-sm-1" for="Nombre">Nombre</label>
        <div class="col-sm-5"><input type="text" id="Nombre" name="Nombre" class="form-control" required></div>        
        <span class="help-block">*</span>
    </div>

    <div class="form-group">
        <label class="col-sm-1" for="Sexo">Sexo</label>
        <div class="col-sm-5"><select class="form-control" id="Sexo" name="Sexo" required><option value="1">Femenino</option><option value="2">Masculino</option><option value="3">Otro</option></select></div>
        <span class="help-block">*</span>
    </div>

    <div class="form-group">
        <label class="col-sm-1" for="FechaNac">Fecha Nacimiento</label>
        <div class="col-sm-5"><input type="date" id="FechaNac" name="FechaNac" class="form-control" required></div>
        <span class="help-block">*</span>
    </div>

    <div class="form-group">
        <label class="col-sm-1" for="Profesion">Profesión/ Ocupación</label>
        <div class="col-sm-5"><input type="text" id="Profesion" name="Profesion" class="form-control"></div>        
        <span class="help-block">*</span>
    </div>

    <div class="form-group">
        <label class="col-sm-1" for="Instituto">Instituto</label>
        <div class="col-sm-5"><input type="text" id="Instituto" name="Instituto" class="form-control"></div>        
        <span class="help-block">*</span>
    </div>

    <div class="form-group">
        <label class="col-sm-1" for="Direccion">Dirección</label>
        <div class="col-sm-5"><input type="text" id="Direccion" name="Direccion" class="form-control"></div>        
        <span class="help-block">*</span>
    </div>

    <div class="form-group">
        <label class="col-sm-1" for="Telefono">Teléfono</label>
        <div class="col-sm-5"><input type="number" id="Telefono" name="Telefono" class="form-control" required></div>        
        <span class="help-block">*</span>
    </div>

    <div class="form-group">
        <label class="col-sm-1" for="eMail">e-Mail</label>
        <div class="col-sm-5"><input type="email" id="eMail" name="eMail" class="form-control"></div>        
        <span class="help-block">*</span>
    </div>

    <span class="help-block">* Este campo es obligatorio</span>

    <div class="form-group">
        <div class="col-xs-5">
            <div class="field"><input class="btn btn-lg btn-primary btn-block" type="submit" id="Listo" name="Listo" required value="Registrar"></div>
        </div>
    </div>
    
</form>
{% endblock %}
