{% extends '::baseEstadistica.html.twig' %}

{% block title %} Estadistica Prueba {% endblock %}

{% block stylesheets %}
        <link href="{{ asset('bundles/login/css/estilos.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %} <script type="text/javascript" src="js/login.js"></script> 
		<!-- Load jQuery from Google's CDN if needed -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

		<script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
		<script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
		<script type="text/javascript">
		    {{ chart(chart) }}
		</script>
{% endblock %}

{% block body %}
<div id="contentwrap">
    <div id="content">
    	<div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
{% endblock %}
